@import url("fonts.css");

.header-title {
  display: flex;
  margin: 1vw 3vw;
}

.contact-content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cooperation-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  border-radius: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--pink);
  padding: 1.5vw;
}

.btn-send{
    background-color: var(--pink);

}

.e-mail-text {
  padding: 2vw 0;
}

.question-container {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.your-e-mail-container {
  width: 30vw;
}

.e-mail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
}

.arrow-to-the-left {
  transform: scaleX(-1);
}

.your-e-mail-container input[type="text"] {
  font-family: "boba", sans-serif;
  font-size: 2.3vw;
  background-color: var(--pink);
  border-radius: 15px;
  border: none;
  padding: 0.5vw;
  margin: 1vw 0;
  width: 29vw;
}

.your-e-mail-container ::placeholder {
  color: var(--dark-pink);
}

.your-question-container input[type="text"] {
  font-family: "boba", sans-serif;
  font-size: 2.3vw;
  background-color: var(--white);
  border-radius: 15px;
  border: none;
  padding: 0.5vw 0.5vw 9vw;
  width: 29vw;
}

.your-question-container ::placeholder {
  color: var(--light-gray);
}

.our-team-swiper-container {
  background-color: var(--pink);
  border-radius: 30px;
  width: 50vw;
  height: 150px;
}

.our-team-container {
  display: flex;
  justify-content: space-evenly;
}

.we-are-looking-for-title {
  /* width: 26vw; */
  justify-content: center;
  text-align: center;
  margin: 0 0 1vw;
}

.we-are-looking-for {
  display: flex;
  flex-direction: column;
}

.we-are-looking-for ul {
  color: var(--white);
  font-family: "boba", sans-serif;
  font-size: 2.3vw;
  text-align: center;
}

.we-are-looking-for li {
  color: var(--white);
  font-family: "boba", sans-serif;
  font-size: 2vw;
  text-align: center;
  margin: 1vw;
}

.footer-arrow-block {
  display: flex;
  justify-content: flex-end;
  margin: 0 3.5vw 1vw;
}

.text-transfer {
  display: none;
}

.social-media-container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .our-team-container {
    flex-direction: column;
    align-items: center;
  }

  .header-title h3 {
    margin: 10px;
  }

  .header-title {
    justify-content: center;
    /* margin: 10vw 0 15vw; */
  }

  .header-title h4 {
    font-size: 10vw;
    letter-spacing: normal;
    margin: 40px;
  }

  .mobile-e-mail {
    display: block;
  }

  .text-transfer {
    display: inline;
  }

  .cooperation-container {
    padding: 2.5vw;
  }

  .question-container {
    width: 40vw;
  }

  .e-mail-container {
    width: 40vw;
  }

  .your-e-mail-container {
    width: 40vw;
  }

  .your-e-mail-container input[type="text"] {
    width: 39vw;
    font-size: 3vw;
  }

  .your-question-container input[type="text"] {
    width: 39vw;
    font-size: 3vw;
  }

  .our-team-swiper-container {
    height: 40vw;
  }

  .we-are-looking-for {
    justify-content: center;
  }

  .we-are-looking-for-title {
    /* width: 32vw; */
    font-size: 30px;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
  }

  .we-are-looking-for li {
    font-size: 3vw;
  }

  .footer-arrow-block {
    margin: 0 3.5vw 5vw;
  }

  .footer-item-size {
    width: 5vw;
  }
}

@media (min-width: 0px) and (max-width: 425px) {
  h1 {
    font-size: 6vw;
  }

  .header-title {
    margin: 5vw;
  }

  .cooperation-container {
    width: 80vw;
    border-radius: 20px;
    border-width: 3px;
    padding: 5vw 1.5vw;
  }

  .text-transfer {
    display: none;
  }

  .mobile-e-mail {
    display: inline;
  }

  .question-container {
    display: none;
  }

  .social-media-container-contact {
    margin: 2vw 0 0;
  }

  .footer-item-size {
    width: 7vw;
  }

  .our-team-container {
    flex-direction: column;
    align-items: center;
  }

  .our-team-swiper-container {
    width: 70%;
  }

  .we-are-looking-for-title {
    margin: 5vw 0 3vw;
    font-size: 20px;

    justify-content: center;
    text-align: center;
  }

  .we-are-looking-for li {
    font-size: 5vw;
  }
}



.wrapper {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 100%; /* або конкретну ширину */
}

.wrapper:before, .wrapper:after {
	content: "";
	position: absolute;
	/* height: 130px; */
	/* width: 150px; */
	z-index: 2;
}

.wrapper:after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.wrapper:before {
	left: 0;
	top: 0;
}

.track {
  display: flex;
  animation: scroll 20s linear infinite;
  width: fit-content;
}

.logo {
  position: relative;
  text-align: center;
}

*::before,
*::after {
  font-family: "boba", sans-serif;
  font-size: 14px;
}


.logo::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  color: transparent; 
  white-space: nowrap;
  font-family: "boba", sans-serif;
  font-size: 14px;
  transition: opacity 0.3s ease; 
}

.logo:hover::after {
  color: white;  
  opacity: 1;  
}


.logo:nth-child(1)::after,
.logo:nth-child(17)::after {
  content: "Іванка";
}

.logo:nth-child(2)::after,
.logo:nth-child(18)::after {
  content: "Алексаша";
}

.logo:nth-child(3)::after,
.logo:nth-child(19)::after {
  content: "Ангеліна";
}

.logo:nth-child(4)::after,
.logo:nth-child(20)::after {
  content: "Аюні";
}

.logo:nth-child(5)::after,
.logo:nth-child(21)::after {
  content: "Віка";
}

.logo:nth-child(6)::after,
.logo:nth-child(22)::after {
  content: "Джу";
}

.logo:nth-child(7)::after,
.logo:nth-child(23)::after {
  content: "Кателуца";
}

.logo:nth-child(8)::after,
.logo:nth-child(24)::after {
  content: "Катя";
}

.logo:nth-child(9)::after,
.logo:nth-child(25)::after {
  content: "Настя";
}

.logo:nth-child(10)::after,
.logo:nth-child(26)::after {
  content: "Світлодіод";
}

.logo:nth-child(11)::after,
.logo:nth-child(27)::after {
  content: "Софія";
}

.logo:nth-child(12)::after,
.logo:nth-child(28)::after {
  content: "Хімера";
}

.logo:nth-child(13)::after,
.logo:nth-child(29)::after {
  content: "Шо";
}

.logo:nth-child(14)::after,
.logo:nth-child(30)::after {
  content: "Яся";
}

.logo:nth-child(15)::after,
.logo:nth-child(31)::after {
  content: "Євгенія";
}

.logo:nth-child(16)::after,
.logo:nth-child(32)::after {
  content: "Іванна";
}

.logo:nth-child(17)::after,
.logo:nth-child(33)::after {
  content: "Іванка";
}



.wrapper .logo img {
	height: 140px;
  align-items: center;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-50%);
	}
}